*{
  margin: 0;
  padding: 0;
}
.container{
  border: 1px solid #000;
  background-color: #eeeeee;
  padding: 20px;
}
.container .row{
  display: flex;
  justify-content: space-between;
}
.container .row>div{
  text-align: center;
  line-height: 50px;
  height: 50px;
  border: 1px solid #000;
  margin-left: 20px;
  margin-bottom: 20px;
}
.col-md-1{
  flex-grow: 1;
}
.col-md-2{
  flex-grow: 2;
}
.col-md-3{
  flex-grow: 3;
}
.col-md-4{
  flex-grow: 4;
}
.col-md-6{
  flex-grow: 6;
}

